body {
  margin: 0;
  padding: 0;
  background-color: #f0f4ff;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #333;
}

.TitleSection {
  background-color: #5d89ff;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.TitleSection h2 {
  margin: 0;
  font-size: 36px;
}

.TitleSection input {
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #4ca8ee;
  font-size: 18px;
  padding-left: 15px;
  margin-top: 10px;
  transition: border-color 0.3s;
}

.TitleSection input:focus {
  outline: none;
  border-color: #061e60;
}

.TitleSection button {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  border-radius: 25px;
  background-color: #061e60;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.TitleSection button:hover {
  background-color: #4ca8ee;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.DisplaySection h1 {
  font-size: 28px;
  color: #061e60;
}

.DisplaySection h3,
.DisplaySection h4 {
  margin: 5px;
  font-size: 20px;
  color: #333;
}

.DisplaySection img {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.793);
}